
<nav id="nav" class="navbar navbar-light bg-dark">
  <div class="container-fluid">
    <a class="btn btn-danger" routerLink="/combate/:numOponent" routerLinkActive="active">Combatir <i class="fas fa-fist-raised"></i></a>
    <p style="color: white;">{{ service.estadoS }} , {{ service.numOponentS }} </p>
    <h2 style="color: white;font-weight: bolder;">{{ service.gano | uppercase }}</h2>
    <a class="btn btn-danger" routerLink="/ranking/:estado" routerLinkActive="active">Ver Oponentes <i class="fas fa-cubes"></i></a>
  </div>
</nav>

<router-outlet></router-outlet>
