    <div class="row" style="margin-top: 2%;" *ngFor="let i of contrincantes;let indice=index">
    
        <div class="field-player col-lg-6 col-md-6 col-sm-12">
            <div class="card border-primary mb-3" style="width: 18rem;">
                <div class="player">
                    <i class="fas fa-user"></i>
                </div>
                <div class="card-header ">YOU</div>
                <div class="card-body text-primary">
                  <h5 class="card-title"></h5>
                </div>
            </div>
        </div>

        <div class="field-enemy col-lg-6 col-md-6 col-sm-12">
            <div class="card border-primary mb-3" style="width: 18rem;">
                <div class="enemy">
                    <i name="enemy-symbol" class="{{ i }}"></i>
                </div>
                <div class="card-header ">{{ nombres[indice] | uppercase }}</div>
                <div class="card-body text-primary">
                  <h5 class="card-title">Porcentaje de victorias: {{ vic[indice] | percent }}</h5>
                </div>
            </div>
        </div>
    </div>
